<MudAlert Severity="Severity.Error" ContentAlignment="HorizontalAlignment.Center">
    Cannot delete @ObjectType "@ObjectName" as @WidgetCount @(WidgetCount == 1 ? "Widget has" : "Widgets have") this @ObjectType
</MudAlert>
<br />
<a href="@CancelURL" class="btn btn-primary">Cancel</a>
