<MudCardContent>
    <MudTextField id="txtColour" Label="Name" @bind-Value="ColourDisplayModel.Name" AutoFocus OnlyValidateIfDirty="true" />
</MudCardContent>
<MudCardActions>
    <button type="submit" class="btn btn-primary">Submit</button>
    &nbsp;
    <a class="btn btn-primary" href="/colours/index">Cancel</a>
</MudCardActions>