
<DataAnnotationsValidator />
<ValidationSummary />

<MudGrid>
    <MudItem sm="7">
        <MudCard>
            <MudCardContent>
                <MudTextField id="txtName" Label="Name" @bind-Value="ManufacturerDisplayModel.Name" AutoFocus OnlyValidateIfDirty="true" />
                <MudSelect id="ddlStatus" Label="Status" @bind-Value="ManufacturerDisplayModel.StatusId"
                           HelperText="@(ManufacturerDisplayModel.StatusId == 2 && ManufacturerDisplayModel.ManufacturerId > 0 ? "All Widgets for this manufacturer will also have their status set to 'Inactive'" : "")">
                    @foreach (var manufacturerStatus in ManufacturerStatuses)
                    {
                        <MudSelectItem T="int" Value="manufacturerStatus.StatusId">
                            @manufacturerStatus.StatusName
                        </MudSelectItem>
                    }
                </MudSelect>
            </MudCardContent>
            <MudCardActions>
                <button type="submit" class="btn btn-primary">Submit</button>
                &nbsp;
                <a class="btn btn-primary" href="/manufacturers/index">Cancel</a>
            </MudCardActions>
        </MudCard>
    </MudItem>
</MudGrid>