@page "/colourjustifications/index"
@inherits ColourJustificationBasePageClass

<PageTitle>Colour Justifications</PageTitle>

@if (ColourJustifications == null)
{
    <LoadingMessageComponent ValueToShow="@ColourJustificationPlural" />
    return;
}

<a href="/colourjustification/create" class="btn btn-primary">Create Colour Justification</a>

<br />
<br />

@if (ColourJustifications == null)
{
    <p>No Colour Justifications found.</p>
    return;
}

<MudTable
Items="ColourJustifications"
    SortLabel="SortBy"
    Hover
    RowsPerPage="10"
    FixedHeader
    Height="500px">
    <HeaderContent>
        <MudTh title="Sort by Justification">
            <MudTableSortLabel SortBy="new Func<ColourJustificationModel, object>(x => x.Justification)">
                Justification
            </MudTableSortLabel>
        </MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.Justification</MudTd>
        <MudTd>
            <a class="btn btn-primary" href="/colourjustification/view/@context.ColourJustificationId">View</a>
            &nbsp;
            <a class="btn btn-primary" href="/colourjustification/edit/@context.ColourJustificationId">Edit</a>
            @if (context.Widgets.Count == 0)
            {
                @:&nbsp;
                <a class="btn btn-danger" href="/colourjustification/delete/@context.ColourJustificationId">Delete</a>
            }
        </MudTd>
     </RowTemplate>
     <PagerContent>
         <MudTablePager PageSizeOptions="new int[] { 5, 10, 25, 50, 100, int.MaxValue }" />
     </PagerContent>
</MudTable>

