@page "/colourjustification/view/{ColourJustificationId:int}"
@inherits ColourJustificationBasePageClass

<PageTitle>View Colour Justification</PageTitle>

@if (ColourJustificationModel == null)
{
    <LoadingMessageComponent ValueToShow="@ColourJustification" />
    return;
}

<MudGrid>
    <MudItem sm="7">
        <MudCard>
            <MudCardContent>
                <MudField Label="Justification">@ColourJustificationModel.Justification</MudField>
            </MudCardContent>
            <MudCardActions>
                <a class="btn btn-primary" href="/colourjustification/edit/@ColourJustificationModel.ColourJustificationId">Edit</a>
                &nbsp;
                <a class="btn btn-danger" href="/colourjustification/delete/@ColourJustificationModel.ColourJustificationId">Delete</a>
                &nbsp;
                <a class="btn btn-primary" href="/colourjustifications/index">Cancel</a>
            </MudCardActions>
        </MudCard>
    </MudItem>"
</MudGrid>