@page "/colour/edit/{ColourId:int}"
@inherits ColourBasePageClass

<PageTitle>Edit Colour</PageTitle>

@if (ColourDisplayModel == null)
{
    <LoadingMessageComponent ValueToShow="@Colour" />
    return;
}

<EditForm Model="@ColourDisplayModel" OnValidSubmit="UpdateColour">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <MudGrid>
        <MudItem sm="7">
            <MudCard>
                <ColourCreateUpdateComponent ColourDisplayModel="@ColourDisplayModel" />
                <MudCardActions>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    &nbsp;
                    <a class="btn btn-primary" href="/colours/index">Cancel</a>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>